* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    position: relative;
    background-color: #ffffff;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
    height: 100vh;
    min-width: 300px;
  }
  
  .nex-pre{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .tt-top{
    margin-bottom: 10px;
  }
  
  .mm-title{
    color: #555;
  }
  
  .ff-title{
    margin-bottom: 5px;
  }
  
   input {
    padding: 10px;
    border: 1px solid #aaaaaa;
    margin-bottom: 5px;
  }
  
   input.invalid {
    background-color: #ffdddd;
  }
  
  .tab {
    display: none;
  }
  
  .title {
      font-family: 'Courier New', Courier, monospace;
      color: gray;
  }

  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 35px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  .step {
    height: 5px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 2px;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  .step.finish {
    background-color: #4CAF50;
  }
  
  
  .btn-photos {
        display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
      background: cornflowerblue;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .fileinput-button {
    position: relative;
    overflow: hidden;
  }
  
  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
  
  .thumb {
    height: 80px;
    width: 100px;
    border: 1px solid #000;
  }
  
  ul.thumb-Images li {
    width: 120px;
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 120px;
  }
  
  .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
  }
  
  .img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #d0e5f5;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.5;
    font-size: 23px;
    line-height: 10px;
    border-radius: 50%;
  }
  
  .img-wrap:hover .close {
    opacity: 1;
    background-color: #ff0000;
  }
  
  .FileNameCaptionStyle {
    font-size: 12px;
  }
  
  .df{
    display: flex;
  }
  
  .bhbn{
    flex-direction: column;
  }
  
  .content-img {
      width: 20%;
      height: 200px;
  }
  